### Probate records data noodling
Data set from Gloria Main, emerita U Colorado:
http://eh.net/database/new-england-1631-1776-sample-of-18509-probates/

Code by Shane Landrum, <srl@cliotropic.org>

In [2]:
import pandas as pd
import numpy as np

data_file = 'Main-Main-New-Eng-probates-2013.xlsx'
                       
def probate_records():
    pr = pd.read_excel( data_file,
                        sheetname='main data set', 
                        header=0,
                        skiprows=4, 
                        skip_footer=19,
                        index_col=0, 
                        parse_cols='A:C,M:T')  # basic year and life cycle information
    return pr.fillna('')

def colonies():
    c = pd.read_excel(data_file,
                      sheetname='Some code values',
                      header=0,
                      index_col=0,
                      skiprows=4,
                      skip_footer=270,
                      parse_cols="A,B,C")
    return c.fillna('')


def counties():
    c = pd.read_excel(data_file,
                      sheetname='Some code values',
                      header=0,
                      index_col=0,
                      skiprows=15,
                      skip_footer=251,
                      parse_cols="A,B,C")
    return c.fillna('')

def towns():
    t = pd.read_excel(data_file,
                      sheetname='Some code values',
                      header=0,
                      index_col=0, 
                      skiprows=4,
                      skip_footer=2,
                      parse_cols="M:Q")
    return t.fillna('')


def bigtable():
    # This will take some time because the data file is 6.5MB.
    # merge tables to bring in county names.
    bigtable = probate_records().merge(counties(), how="left", left_on="county", right_index=True)
    # Move textual names for counties into the 'county' column, drop the badly-labeled 'This is' column
    bigtable['county'] = bigtable['This is']
    bigtable = bigtable.drop(['This is'], 1)

    # merge tables to bring in town names. 
    townlabels = towns()["This town is"].to_frame()
    bigtable = bigtable.merge(townlabels, how="left", left_on="town", right_index=True)
    # Move textual names for towns into the 'town' column, drop the badly-labeled 'This town is' column
    bigtable['town'] = bigtable['This town is']
    bigtable = bigtable.drop(['This town is'], 1)
    bigtable = bigtable.drop(['sample n ='], 1) # Not sure why this is getting added, but make it go away

    # merge tables to bring in colony names.
    bigtable = bigtable.merge(colonies(), how="left", left_on="colony", right_index=True)
    # Move textual names for colonies into the 'colony' column, drop the badly-labeled 'This is' column
    bigtable['colony'] = bigtable['This is']
    bigtable = bigtable.drop(['This is'], 1)
    bigtable = bigtable.drop(['Sample n ='], 1) # Not sure why this is getting added, but make it go away

    
    return(bigtable.fillna(""))

#print(colonies())
#counties()
#towns()
bigtable()

,year,age,county,town,born,xocc,sex,newlc,xtown,colony
row,,,,,,,,,,
1,1646,,Plymouth,Scituate,,4,0,3,1,Plymouth
2,1647,,Plymouth,,,6,0,5,,Massachusetts (excl. Boston)
3,1647,69,Plymouth,Plymouth,1578,5,0,5,2,Plymouth
4,1647,,Plymouth,,,5,0,3,,Massachusetts (excl. Boston)
5,1648,,Plymouth,,,6,0,3,,Massachusetts (excl. Boston)
6,1649,,Plymouth,,,5,0,2,,Massachusetts (excl. Boston)
7,1649,,Plymouth,,,5,0,1,,Massachusetts (excl. Boston)
8,1650,,Plymouth,,,5,0,,,Massachusetts (excl. Boston)
9,1650,,Plymouth,,,4,0,4,,Massachusetts (excl. Boston)
10,1651,,Plymouth,,,1,0,1,,Massachusetts (excl. Boston)
11,1651,,Plymouth,,,5,0,1,,Massachusetts (excl. Boston)
12,1651,,Plymouth,,,10,1,5,,Massachusetts (excl. Boston)
13,1651,,Plymouth,,,5,0,1,,Massachusetts (excl. Boston)
14,1653,,Plymouth,,,1,0,2,,Massachusetts (excl. Boston)
15,1655,,Plymouth,,,5,0,,,Massachusetts (excl. Boston)
16,1656,,Plymouth,,,1,0,1,,Massachusetts (excl. Boston)
17,1659,,Plymouth,,,0,1,1,,Massachusetts (excl. Boston)
18,1660,,Plymouth,,,5,0,0,,Massachusetts (excl. Boston)
19,1660,,New Hampshire (all counties combined).,Portsmouth,,5,0,2,1,New Hampshire
20,1662,,Plymouth,,,1,0,1,,Massachusetts (excl. Boston)
21,1662,,Plymouth,,,9,0,5,,Massachusetts (excl. Boston)
22,1668,,Plymouth,,,10,1,5,,Massachusetts (excl. Boston)
23,1669,,New Hampshire (all counties combined).,Portsmouth,,1,0,1,1,New Hampshire
24,1678,,New Hampshire (all counties combined).,Rye,,3,0,1,1,New Hampshire
25,1678,,New Hampshire (all counties combined).,,,1,0,1,0,New Hampshire
26,1681,,New Hampshire (all counties combined).,Rye,,9,0,5,1,New Hampshire
27,1691,,New Hampshire (all counties combined).,Portsmouth,,7,0,,1,New Hampshire
28,1695,50,New Hampshire (all counties combined).,Durham,,5,0,4,1,New Hampshire
29,1697,,New Hampshire (all counties combined).,Exeter,,9,0,4,1,New Hampshire
30,1761,,New Hampshire (all counties combined).,GREENL,,9,0,5,4,New Hampshire
...,...,...,...,...,...,...,...,...,...,...
18480,1677,,New Hampshire (all counties combined).,Rye,,1,0,1,1,New Hampshire
18481,1683,34,New Hampshire (all counties combined).,Portsmouth,1649,3,0,1,1,New Hampshire
18482,1677,45,New Hampshire (all counties combined).,Dover,1632,5,0,4,1,New Hampshire
18483,1696,80,New Hampshire (all counties combined).,Hampstead,1616,9,0,5,1,New Hampshire
18484,1712,65,New Hampshire (all counties combined).,Dover,1647,5,0,5,1,New Hampshire
18485,1699,37,New Hampshire (all counties combined).,Portsmouth,1662,1,0,2,1,New Hampshire
18486,1679,70,New Hampshire (all counties combined).,Portsmouth,1609,1,0,2,1,New Hampshire
18487,1664,,New Hampshire (all counties combined).,Portsmouth,,3,0,3,1,New Hampshire
18488,1663,,New Hampshire (all counties combined).,Dover,,5,0,4,1,New Hampshire
18489,1664,39,New Hampshire (all counties combined).,Portsmouth,1625,3,0,3,1,New Hampshire
18490,1676,36,New Hampshire (all counties combined).,Dover,1640,4,0,1,1,New Hampshire
18491,1666,70,New Hampshire (all counties combined).,Portsmouth,1596,5,0,5,1,New Hampshire
18492,1685,66,New Hampshire (all counties combined).,Portsmouth,1619,5,0,5,1,New Hampshire
18493,1694,53,New Hampshire (all counties combined).,Durham,1641,5,0,5,1,New Hampshire
18494,1697,81,New Hampshire (all counties combined).,Dover,1616,9,0,5,1,New Hampshire
18495,1677,38,New Hampshire (all counties combined).,Rye,1639,4,0,3,1,New Hampshire
18496,1695,30,New Hampshire (all counties combined).,Rye,1665,7,0,3,1,New Hampshire
18497,1679,37,New Hampshire (all counties combined).,Rye,1642,7,1,3,1,New Hampshire
18498,1697,58,New Hampshire (all counties combined).,Portsmouth,1640,6,0,4,1,New Hampshire
18499,1678,53,New Hampshire (all counties combined).,Rye,1625,7,0,3,1,New Hampshire
18500,1706,38,New Hampshire (all counties combined).,Durham,1668,5,0,3,1,New Hampshire
18501,1696,35,New Hampshire (all counties combined).,Exeter,1661,5,0,3,1,New Hampshire
18502,1679,28,New Hampshire (all counties combined).,Durham,1651,1,0,1,1,New Hampshire
18503,1676,,New Hampshire (all counties combined).,Rye,,3,0,1,1,New Hampshire
18504,1698,74,New Hampshire (all counties combined).,Exeter,1624,4,0,5,1,New Hampshire
18505,1687,,New Hampshire (all counties combined).,Rye,,3,0,1,1,New Hampshire
18506,1670,,New Hampshire (all counties combined).,Portsmouth,,4,0,1,1,New Hampshire
18507,1670,30,New Hampshire (all counties combined).,Portsmouth,1640,5,0,2,1,New Hampshire
18508,1674,60,New Hampshire (all counties combined).,Dover,1614,5,0,4,1,New Hampshire
18509,1697,50,New Hampshire (all counties combined).,Exeter,1649,5,0,4,1,New Hampshire